<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://www.premiere.fr/sites/default/files/styles/scale_crop_1280x720/public/2018-04/salle-de-cinema-le-cinema-de-personne-1320.png');">
  <div class="container">
    <h1>Cinema-tech</h1>
    <p>Click on the desired genre and get started.</p>
  </div>
</div>
