<div class="navbar-lewagon">
  <div class="container-fluid p-3">
    <a class="navbar-brand" href="http://localhost:3000/lists">
      <i class="fa-solid fa-film"> Cinema-tech</i>
    </a>
   </div>
</div>
